@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<MoviesList Movies="movies" />

@code {
    private int currentCount = 0;
    List<Movie> movies;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        movies = new List<Movie>(){
            new Movie { Title = "Tardes Felices", ReleasDate = new DateTime(2018, 5, 5) },
            new Movie { Title = "Show de Fantástico", ReleasDate = new DateTime(1998, 10, 12) },
            new Movie { Title = "Ciudad Bendita", ReleasDate = new DateTime(2007, 11, 1) }
        };
    }
}
