@page "/"
@inject IRepository Repository

<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>



@code{

    List<Movie> movies;

    protected override void OnInitialized()
    {
        //await Task.Delay(2000);
        movies = Repository.GetMovies();

    }

}