@page "/gender/create"

<h3>CreateGender</h3>

<GenderForm Gender="gender" OnValidSubmit="Create" />

@code {
    private Gender gender = new Gender();

    private void Create()
    {
        Console.WriteLine("Create Method");
        Console.WriteLine(gender.Name);
    }
}
