@page "/movie/create"
@inject NavigationManager  navigationManager

<h3>CreateMovie</h3>

<MovieForm Movie="movie" OnValidSubmit="SaveMovie" />

@code {

    private Movie movie = new Movie();

    private void SaveMovie()
    {
        Console.WriteLine("Saving movie...");
        //navigationManager.NavigateTo("movie");
    }
}
