@page "/movie/create"
@inject NavigationManager  navigationManager

<h3>CreateMovie</h3>

<MovieForm Movie="movie" OnValidSubmit="SaveMovie" NoSelectedGenders="NoSelectedGenders" />

@code {
    private Movie movie = new Movie();

    //private List<Gender> SelectedGenders = new List<Gender>
    //{
    //    new Gender{Id = 1, Name = "Action" },
    //    new Gender{Id = 2, Name = "Comedy" },
    //    new Gender{Id = 3, Name = "Drama" }
    //};

    private List<Gender> NoSelectedGenders = new List<Gender>
{
        new Gender{Id = 1, Name = "Action" },
        new Gender{Id = 2, Name = "Comedy" },
        new Gender{Id = 3, Name = "Drama" }
    };

    private void SaveMovie()
    {
        Console.WriteLine("Saving movie...");
        //navigationManager.NavigateTo("movie");
    }
}
