@page "/movie/edit/{MovieId:int}"
<h3>Edit Movie</h3>

@if (movie != null)
{
    <MovieForm Movie="movie" OnValidSubmit="Edit" SelectedGenders="SelectedGenders" NoSelectedGenders="NoSelectedGenders" />
}

@code {
    [Parameter] public int MovieId { get; set; }
    private Movie movie = new Movie();

    private List<Gender> NoSelectedGenders = new List<Gender>{
        new Gender{Id = 2, Name = "Comedy" },
        new Gender{Id = 3, Name = "Drama" }
    };

    private List<Gender> SelectedGenders = new List<Gender>{
        new Gender{Id = 1, Name = "Action" },
    };

    protected override void OnInitialized()
    {
        movie = new Movie { Id = MovieId, Title = "My Movie" };
    }

    private void Edit()
    {
        Console.WriteLine("Editing the movie {0}", MovieId);
        //navigationManager.NavigateTo("movie");
    }
}