@page "/movie/edit/{MovieId:int}"
<h3>EditMovie</h3>

@code {
    [Parameter] public int MovieId { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Console.WriteLine($"MovieId Id: {MovieId}");
    }
}