@page "/person/create"
<h3>CreatePerson</h3>

<PersonForm Person="person" OnValidSubmit="Create" />

@code {
    private Person person = new Person();

    private void Create()
    {
        Console.WriteLine("Creating person...");
    }
}
