<div class="card">
    <div class="card-image">
        <figure class="image">
            <img src="@Movie.Poster" alt="Poster" class="movie-poster">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">@Movie.TitleBrief</p>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item" @onclick:preventDefault>Edit</a>
        <a href="" class="card-footer-item" @onclick="@(()=> DeleteMovie.InvokeAsync(Movie))" @onclick:preventDefault>Delete</a>
    </footer>
</div>




@*<div class="individual-movie-container">
        <a>
            <img src="@Movie.Poster" alt="Poster" class="movie-poster" />
        </a>
    </div>*@


@code {
    [Parameter]
    public Movie Movie { get; set; }

    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }

}
