<div class="row">
    <p class="m-0"><strong>Title      : </strong>@Movie.Title</p>
</div>
<div class="row">
    <p class="mb-0"><strong>Releas Date: </strong>@Movie.ReleasDate.ToString("dd MM yyyy")</p>
</div>
@if (showDeleteButton)
{
    <div class="row">
        @*<a class="button is-danger is-light mb-0" @onclick="@(()=> HandleDelete())">Delete</a>*@
        <a class="button is-danger is-light is-small mb-1" @onclick="@(()=> DeleteMovie.InvokeAsync(Movie))">Delete</a>
    </div>
}

<hr class="row m-0" />

@code {
    [Parameter]
    public Movie Movie { get; set; }


    [Parameter]
    public bool showDeleteButton { get; set; } = false;

    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }


    private void HandleDelete()
    {
        Console.WriteLine($"{Movie.Title} Deleted");
    }

    protected override bool ShouldRender()
    {
        return true;
    }
}
