<div class="grid">

    @if (movies == null)
    {
        <div class="row">
            <img src="https://spcom.upc.edu/es/shared/tenor.gif" />
        </div>
    }
    else if (movies.Count == 0)
    {
        <text>No records to show</text>
    }
    else
    {
        <input type="checkbox" id="showDelete" name="showDelete" @bind="showDeleteButton">
        <label for="showDelete">Show delete</label><br>
        foreach (var movie in movies)
        {
            <IndividualMovie Movie="movie" showDeleteButton="showDeleteButton" DeleteMovie="HandleDelete" />
        }
    }
</div>

@code {
    [Parameter]
    public List<Movie> movies { get; set; }

    public bool showDeleteButton { get; set; } = true;


    private void HandleDelete(Movie movieToDelete)
    {
        Console.WriteLine($"{movieToDelete.Title} Deleted FROM EventCallback");
    }



}
