@inject IJSRuntime js

<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <IndividualMovie Movie="movie" DeleteMovie="HandleDeleteAsync" />
        </ElementTemplate>
    </GenericList>
</div>



@code {

    [Parameter]
    public List<Movie> Movies { get; set; }

    private async Task HandleDeleteAsync(Movie movie)
    {
        await js.MyFunction("Custom Message from c# to js");
        var confirmed = await js.Confirm($"Are you sure you want to delete {movie.Title}");
        if (confirmed)
        {
            Console.WriteLine($"{movie.Title} Deleted FROM EventCallback");
            Movies.Remove(movie);
        }
    }

    private void SetShowDeleteButton(bool value)
    {
    }
}


